<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="header/head.html :: head">
<meta charset="UTF-8" />
</head>
<body>
	<div th:replace="header/navbar.html :: div"></div>
	<div class="main-panel">

		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header card-header-success">
								<h4 class="card-title ">Usuários</h4>
							</div>
							<h4 class="card-title" align="right"><a class="nav-link" href="/index">Voltar</a></h4>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table">
										<thead class=" text-success">
											<th>Nome</th>
											<th>CPF</th>
											<th>Telefone</th>
										</thead>
										<tbody>
											<tr data-th-each="usuario : ${usuarios}">
												<td data-th-text="${usuario.nome}"></td>
												<td data-th-text="${usuario.cpf}"></td>
												<td data-th-text="${usuario.telefone}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

</div>






		<script th:src="@{scripts/header.js}"></script>
</body>
</html>